body {
    min-height: 100vh;
}

.container{
    flex-direction: column;
    align-items: center;
}

.container,
.canvas {
    display: flex;
    justify-content: center;
}

.cell{
    height: 30px;
    width: 30px;
    border: 0.5px solid lightslategray;
}